{% extends 'base.html' %}
{% block title %}Finches{% endblock title %}
{% block content %}
    <h1>{{ finch.name }}</h1>
    <div class="card col-4 mx-auto">
        <div class="card-body">
            <h5 class="card-title">{{ finch.name }}</h5>
            <p class="card-text">{{ finch.colors }}</p>
            <p class="card-text">{{ finch.diet }}</p>
        </div>
        <div class="container-fluid">
            <a href="{% url 'finch:update' finch.pk %}" class="btn btn-warning">edit</a>
            <a href="{% url 'finch:delete' finch.pk %}" class="btn btn-danger">delete</a>
        </div>
    </div>
{% endblock content %}