{% extends 'base.html' %}
{% block title %}Finches{% endblock title %}
{% block content %}
    <h1>All finches</h1>
    {% for finch in finches %}
        <div class="container p-2">
            <ul class="list-group col-4 mx-auto">
                <li class="list-group-item"><a href="{% url 'finch:detail' finch.id %}" class="text-decoration-none">{{ finch.name }}</a></li>
                <li class="list-group-item">{{ finch.colors }}</li>
                <li class="list-group-item">{{ finch.diet }}</li>
            </ul>
        </div>
    {% endfor %}
{% endblock content %}